 


.main {
	margin-top: 2rem;
	
}

.header {
background-size: cover;
	width: 100%;
}


.heading {
	text-align: center;
}

.btn {
	flex-direction: row;

}


.edit-delete {
	margin-top: 5rem;
		
}

/* .card-deck {
	display: flex;
	flex-wrap: wrap;
	width: 100%;;
} */

.cards {
	padding: 0px , 20px;
    border: 1px solid grey;
    margin: 20px;
	border-radius: 3px;
	height: 240px;
	
	
}

.cardDate {
	color: white;
	font-size: 12px;
	float: right;
	padding: 5px;
	font-weight: bold;
	animation: 1s linear infinite blink_effect;
}


@keyframes blink_effect {
	0% {
	  visibility: hidden;
	}
	50% {
	  visibility: hidden;
	}
	100% {
	  visibility: visible;
	}
  }

.taskButtons {
margin: 0px 5px; 
float : right;
border:0px; 
border-radius: 3px; 
padding: 0px; 

}

 .card-footer {

	text-align: right;
}




/*.taskcard {
	display: flex;
}
*/

  /* @media only screen and (min-width: 370px) and (max-width: 920px){
	.cards {
		height:250px;
		float: right;
	}


}   */


